<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/newsfeed.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Bubbble Home Page</title>

</head>
<body class="">
    <header>
        <img id="headerImg" src="" alt="Weather Icon">

        <h1>Bubbble</h1>

    </header>
    <main>


        <div class="post-stuff">
            <div class="row1">
                <form action="/control" method="post">
                    <button class="btn" type="submit">Return to Home</button>
                </form>
                <div>Weather in <span id="cityName"><%= user.user_location %></span>: <span id="theWeather"></span></div>
            </div>
            <div class="post-form">
                <form action="/newPost" method="post">
                    <div class="post-div">
                    <img id="postImg" src="" alt="Weather Icon">
                    <textarea required name="postcontent" placeholder="What's on your mind?"></textarea></div><br>
                    <div style="margin: 0 auto;"><span>Location: <%= user.user_location %></span><input type="hidden" name="postlocation" value="<%= user.user_location %>"></div><br>
                    <input type="hidden" name="date" id="date" value="">

                    <button class="btn" type="submit">Create New Post</button>
                    <input type="hidden" name="id" value="<%= user.user_id %>">
                    <input type="hidden" id="formWeather" name="postweather" value="">

                </form>
    

            </div> <!--post form-->
            <div class="newsfeed">
                <ul>
                    <% posts.forEach(function(r) { %>
                        <li class="bubbble-post <%=r.post_weather %>">
                                <div class="post-row "><img src="/images/weather/<%=r.post_weather %>.png"> <p><%= r.post_content %></p></div><br><hr> --<%= r.user_username %><br><%= r.post_date %><br><%= r.post_location %>
                            </li>
                        </div>
                    <% }); %>
                </ul>
                
            </div> <!--newsfeed-->

        </div>
        <script>
        function getWeather(cityName) {
            //set date
            n =  new Date();
            y = n.getFullYear();
            m = n.getMonth() + 1;
            d = n.getDate();
            document.getElementById("date").value = y + "/" + m + "/" + d;


            cityName = cityName.replace(" ", "&20");
            apiURL = "https://api.openweathermap.org/data/2.5/weather?q=" + cityName + "&units=imperial&APPID=d7ffb76f27d5f75f6ce4b7817252176f";
            console.log(apiURL);
            fetch(apiURL)
                .then((response) => response.json())
                .then((jsObject) => {
                    var temp = jsObject.main.temp;
                    var desc = jsObject.weather[0].main;
                    document.getElementById("theWeather").innerHTML = desc;
                    document.getElementById("formWeather").value = desc;

                    document.body.classList = "";
                    document.body.classList = desc;
                    document.getElementById("headerImg").src = "/images/weather/" + desc + ".png";
                    document.getElementById("postImg").src = "/images/weather/" + desc + ".png";

                });
        } 

        window.onload = function () { 
            let city = document.getElementById('cityName').innerHTML;
            getWeather(city);    
        }
           </script>
    </main>

</body>
</html>
    