<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/newsfeed.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <title>Bubbble Home Page</title>


</head>
<body>
    <header>
        <h1>Bubbble</h1>
    </header>
    <main>
        <h3>Your New Post:</h3>
            <div class="newsfeed">
                <ul>
                    <% posts.forEach(function(r) { %>
                        <li class="bubbble-post"><%= r.post_content %><br><hr> --<%= r.user_username %><br><%= r.post_date %></li>
                    <% }); %>
                </ul>
                
            </div> <!--newsfeed-->
            <div class="post-form">
                <form action="/newsfeed" method="post">
                    <button type="submit">Return to Newsfeed</button>
                    <input type="hidden" name="id" value="<%= currentUser %>">
                    <input type="hidden" name="username" value="<%= currentUser %>">
                    
                </form>
    

            </div> <!--post form-->

    </main>
    <footer>
        <p>&copy; Ethan Tindall 2021 - CSE341: Backend 2 - Project 2</p>
    </footer>
</body>
</html>
    